In [1]:
#Required imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Read dataset
df = pd.read_csv("adult.csv")

In [3]:
df['workclass'] = df['workclass'].replace('?', np.nan)
df['occupation'] = df['occupation'].replace('?', np.nan)
df['native-country'] = df['native-country'].replace('?', np.nan)

In [4]:
df.dropna(how='any', inplace=True)

In [5]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [6]:
print(f"There are {df.duplicated().sum()} duplicate values")

There are 47 duplicate values

In [7]:
df = df.drop_duplicates()

In [8]:
df.drop(['fnlwgt','educational-num','marital-status','relationship', 'race',], axis = 1, inplace = True)

In [9]:
df.columns

Index(['age', 'workclass', 'education', 'occupation', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income'],
      dtype='object')

In [10]:
#Extract X and y from the dataframe , income column is the target column, rest columns are features
X = df.loc[:,['age', 'workclass', 'education', 'occupation', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country']]
y = df.loc[:,'income']

In [11]:
X.head()

,age,workclass,education,occupation,gender,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,11th,Machine-op-inspct,Male,0,0,40,United-States
1,38,Private,HS-grad,Farming-fishing,Male,0,0,50,United-States
2,28,Local-gov,Assoc-acdm,Protective-serv,Male,0,0,40,United-States
3,44,Private,Some-college,Machine-op-inspct,Male,7688,0,40,United-States
5,34,Private,10th,Other-service,Male,0,0,30,United-States

In [12]:
y.head()

0    <=50K
1    <=50K
2     >50K
3     >50K
5    <=50K
Name: income, dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)
y = pd.DataFrame(y)
y.head()

   0
0  0
1  0
2  1
3  1
4  0

In [14]:
numeric_features = X.select_dtypes('number')
categorical_features = X.select_dtypes('object')
categorical_features

          workclass     education         occupation  gender native-country
0           Private          11th  Machine-op-inspct    Male  United-States
1           Private       HS-grad    Farming-fishing    Male  United-States
2         Local-gov    Assoc-acdm    Protective-serv    Male  United-States
3           Private  Some-college  Machine-op-inspct    Male  United-States
5           Private          10th      Other-service    Male  United-States
...             ...           ...                ...     ...            ...
48837       Private    Assoc-acdm       Tech-support  Female  United-States
48838       Private       HS-grad  Machine-op-inspct    Male  United-States
48839       Private       HS-grad       Adm-clerical  Female  United-States
48840       Private       HS-grad       Adm-clerical    Male  United-States
48841  Self-emp-inc       HS-grad    Exec-managerial  Female  United-States

[45175 rows x 5 columns]

In [15]:
converted_categorical_features = pd.get_dummies(categorical_features)
converted_categorical_features.shape

(45175, 80)

In [16]:
all_features = [converted_categorical_features, numeric_features]
newX = pd.concat(all_features,axis=1, join='inner')
newX.shape

(45175, 84)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(newX, y, test_size=0.33, random_state=42)

In [18]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=5)
clf.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [19]:
y_pred = clf.predict(X_test)

In [20]:
y_test.shape

(14908, 1)