In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("smaller_adult.csv")
df.head()

,age,workclass,educational-num,occupation,gender,hours-per-week,income
0,25,Private,7,Machine-op-inspct,Male,40,<=50K
1,38,Private,9,Farming-fishing,Male,50,<=50K
2,28,Local-gov,12,Protective-serv,Male,40,>50K
3,44,Private,10,Machine-op-inspct,Male,40,>50K
4,18,?,10,?,Female,30,<=50K

In [4]:
df.columns

Index(['age', 'workclass', 'educational-num', 'occupation', 'gender',
       'hours-per-week', 'income'],
      dtype='object')

In [5]:
df.info

<bound method DataFrame.info of       age         workclass  educational-num         occupation  gender  \
0      25           Private                7  Machine-op-inspct    Male
1      38           Private                9    Farming-fishing    Male
2      28         Local-gov               12    Protective-serv    Male
3      44           Private               10  Machine-op-inspct    Male
4      18                 ?               10                  ?  Female
...   ...               ...              ...                ...     ...
3569   49                 ?                9                  ?  Female
3570   29           Private               11     Prof-specialty    Male
3571   25           Private                9       Craft-repair    Male
3572   47           Private                9    Exec-managerial  Female
3573   44  Self-emp-not-inc               13              Sales  Female

      hours-per-week income
0                 40  <=50K
1                 50  <=50K
2                 40   >50K
3                 40   >50K
4                 30  <=50K
...              ...    ...
3569              40  <=50K
3570              40   >50K
3571              50  <=50K
3572              50   >50K
3573              60   >50K

[3574 rows x 7 columns]>

In [6]:
df.isin(['?']).sum()

age                  0
workclass          214
educational-num      0
occupation         214
gender               0
hours-per-week       0
income               0
dtype: int64

In [8]:
df['workclass'] = df['workclass'].replace('?',np.nan)

In [9]:
df['occupation'] = df['occupation'].replace('?',np.nan)

In [10]:
df.isin(['?']).sum()

age                0
workclass          0
educational-num    0
occupation         0
gender             0
hours-per-week     0
income             0
dtype: int64

In [13]:
df.dropna(how = 'any',inplace=True)

In [14]:
df = df.drop_duplicates()

In [15]:
df.shape

(3122, 7)

In [16]:
df.columns

Index(['age', 'workclass', 'educational-num', 'occupation', 'gender',
       'hours-per-week', 'income'],
      dtype='object')

In [17]:
X = df.loc[:,['age', 'workclass', 'educational-num', 'occupation', 'gender',
       'hours-per-week']]

In [18]:
y = df.loc[:,['income']]

In [19]:
X

,age,workclass,educational-num,occupation,gender,hours-per-week
0,25,Private,7,Machine-op-inspct,Male,40
1,38,Private,9,Farming-fishing,Male,50
2,28,Local-gov,12,Protective-serv,Male,40
3,44,Private,10,Machine-op-inspct,Male,40
5,34,Private,6,Other-service,Male,30
...,...,...,...,...,...,...
3568,56,Private,3,Machine-op-inspct,Male,40
3570,29,Private,11,Prof-specialty,Male,40
3571,25,Private,9,Craft-repair,Male,50
3572,47,Private,9,Exec-managerial,Female,50
3573,44,Self-emp-not-inc,13,Sales,Female,60

In [20]:
y

     income
0     <=50K
1     <=50K
2      >50K
3      >50K
5     <=50K
...     ...
3568   >50K
3570   >50K
3571  <=50K
3572   >50K
3573   >50K

[3122 rows x 1 columns]

In [22]:
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)
y = pd.DataFrame(y)
y.head()

C:\Users\Abhay Bhosle\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   0
0  0
1  0
2  1
3  1
4  0

In [23]:
numeric_features = X.select_dtypes('number')
categorical_features = X.select_dtypes('object')

In [24]:
numeric_features

      age  educational-num  hours-per-week
0      25                7              40
1      38                9              50
2      28               12              40
3      44               10              40
5      34                6              30
...   ...              ...             ...
3568   56                3              40
3570   29               11              40
3571   25                9              50
3572   47                9              50
3573   44               13              60

[3122 rows x 3 columns]

In [25]:
categorical_features

             workclass         occupation  gender
0              Private  Machine-op-inspct    Male
1              Private    Farming-fishing    Male
2            Local-gov    Protective-serv    Male
3              Private  Machine-op-inspct    Male
5              Private      Other-service    Male
...                ...                ...     ...
3568           Private  Machine-op-inspct    Male
3570           Private     Prof-specialty    Male
3571           Private       Craft-repair    Male
3572           Private    Exec-managerial  Female
3573  Self-emp-not-inc              Sales  Female

[3122 rows x 3 columns]

In [26]:
cnn = pd.get_dummies(categorical_features)
cnn.shape

(3122, 23)

In [27]:
all_feature = [cnn,numeric_features]
newX = pd.concat(all_feature,axis = 1,join='inner')
newX.shape

(3122, 26)

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.33,random_state = 42)

In [31]:
from sklearn.svm import SVC
clf = SVC(kernel="linear", gamma = 'auto')
clf.fit(X_train, y_train.values.ravel())

ValueError: could not convert string to float: 'Private'